pip==22.2.1
wheel==0.37.1
twine==4.0.1
pytest==7.1.2
pytest-cov==3.0.0
pytest-flake8==1.1.1
pytest-runner==6.0.0
pytest-mock==3.8.2
coveralls==3.3.1
coverage==6.4.2
sphinx==5.1.1
sphinx_rtd_theme==1.0.0
bump2version==1.0.1
black==22.6.0
flake8==5.0.2
fire==0.3.1
pyexpect==1.0.20