pip==19.2.1
wheel==0.33.4
twine==1.14.0
pytest==5.0.1
pytest-cov==2.7.1
pytest-flake8==1.0.4
pytest-runner==5.1
pytest-mock==1.10.4
coveralls==1.8.2
sphinx==2.1.2
sphinx_rtd_theme==0.4.3
bump2version==0.5.10
black==19.3b0
flake8==3.7.8
fire==0.2.1
pytype==2019.8.9