pip==20.1
wheel==0.34.2
twine==3.1.1
pytest==5.4.1
pytest-cov==2.8.1
pytest-flake8==1.0.4
pytest-runner==5.2
pytest-mock==2.0.0
coveralls==1.11.1
coverage==5.0.4
sphinx==2.4.4
sphinx_rtd_theme==0.4.3
bump2version==1.0.0
black==19.3b0
flake8==3.7.9
fire==0.3.0
pyexpect==1.0.20